* {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  padding: 0;
}

h2,
p,
h1,
div {
  font-size: 1.2rem;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  font-size: 1rem;
  font-weight: normal;
}

.portada {
  background-color: #2f96f2;
  height: 100%;
  width: auto;
}

.portada h1,
.portada p {
  color: white;
}

.text-portada {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  z-index: 10;
}

.img-portada {
  margin-top: 40px;
  width: 60%;
  height: 80%;
  object-fit: cover;
  z-index: -10;
}

.btn-portada {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 20%;
  padding: 5px;
  margin: 20px auto;
}
.btn-portada:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
  outline: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.aside h2,
.aside .inicio {
  font-size: 1.8rem;
  text-align: center;
  margin: 10px auto;
  color: #2f96f2;
}

.aside button {
  width: 80%;
  background-color: #2f96f2;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 10px auto;
  display: block;
  text-align: center;
}

.aside {
  margin-top: 1.3%;
  margin-left: 6%;
}

a {
  text-decoration: none;
  color: #2f96f2;
  font-size: 1rem;
  transition: color 0.3s;
}
